html {
    padding: 10px;
	font-family: 'Lato', sans-serif;
}

#chat {
	margin: 0 auto;
}


#input textarea {
	height: 60px;
	overflow-y: hidden;
	resize: none;
	width: 79%;
	float: left;
}

#mensajes p {
	color: #515151;
	font-size: 0.95em;
}
#mensajes p strong{
	color: #000;	font-size: 0.95em;
	text-transform: capitalize;
}

#input {
	width: 100%;
}
#input button {
	background-color: #4CAF50; /* Green */
	float: left;
	height: 65px;
	width: 19%;
    border: none;
    color: white;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}
#input button:hover {
	background-color: #218A25;
}
#input button:active {
	background-color: #7BCA7E;
}